* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color:#5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizelegibility;

}
/*............................................*/
/*....................HEADER..................*/
/*............................................*/
header {
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/chat-luong-y-te-tai-bv-hoan-my.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.logo {
    width: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 0px;
}
.main-nav{
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 55px;

}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
}
.main-nav li a{
    text-decoration: none;
    color: #c2e1fd;
    font-size: 110%;
    font-weight: 700;
    padding: 3px 0;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 5px solid #3f7cb2;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
.main-text-box{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-30%,-30%);
}
h1{
    font-size: 200%;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #c2e1fd;
    line-height: 135%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    color:white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    width: 180px;
    display: inline-block;
    text-align: center;
}
.btn-login {
    margin: 0 35%;
}
.btn:hover,
.btn:active{
    background-color: #d35400;
}
/*.....................................................*/
/*................ABOUT US.............................*/
/*.....................................................*/
div.gallery {
    margin: 90px;
    float: left;
    width: 200px;
    position: relative;
}
div.gallery img {
    max-width: 100%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077;
    transition: all .5s;
    /*x-y-độ mờ-phóng rộng-mờ*/
    /* filter: brightness(50%) blur(2px); */
}
div.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    color:#c2e1fd;
    transform: translate(-65%,100%);
    opacity: 0;
    text-align: center;
    font-size: 15px;
    transition: all .7s;
    
}
div.gallery:hover img,
div.gallery:active {
    filter: brightness(50%) blur(2px);
}
div.gallery:hover div.desc,
div.gallery:active div.desc{
    transform: translate(-65%,-50%);
    opacity: 1;
}
h2{
    letter-spacing: 1px;
    color:#e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}
h2:after{
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgba(230, 126, 34, 0.4);
    margin: 0 auto;
    margin-top: 5px;
}
.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}
section{
    padding: 50px;
}
/*......................................*/
/*..............PRODUCTS SECTION........*/
/*......................................*/
.products-section{
    background-color: blanchedalmond;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.products-section h2 {
    margin-bottom: 50px;
}
.product-box{
    margin: 50px 150px;
    float: left;
    position: relative;
    background-color: #eeefff;
    width: 24%;
    height: 350px;
    box-shadow: 3px 5px 10px #e0e0e0;
    border-radius: 13px;
}
h3{
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #265077;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}
.product-content{
    font-size: 100%;
}
.product-box ul li{
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-box .btn{
    margin-left: 15%;
}
/*.........................................*/
/*.............Đánh giá người dùng.........*/
/*.........................................*/
.user{
    margin: 50px 30px 50px 60px;
    float: left;
    width: 180px;
    position: relative;
    width: 25%;
    height: 350px;
}
.testimonials-section{
    background-image: linear-gradient(45deg,rgba(203, 216, 229, 0.8) 55%,rgba(195, 241, 240, 0.85)), url(../img/Feelback.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.testimonials-section h2{
    margin-bottom: 50px;
}
blockquote {
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    color: black;
}
blockquote:before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}
cite {
    display: block;
    color: #6b95bd;
}
cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}
/*..........................*/
/*...............footer.....*/
/*..........................*/
.contact-section{
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/he-thong-y-te-hoan-my.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.flex-container {
    display: flex;
    justify-content: flex-start;
}
.flex-container > div{
    width: 500px;
    margin: 50px 50px ;
    word-spacing: 1px;
   
}
.information {
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 40px;
    font-size: 95%;
}
.small-icon{
    color:#051422;
    font-size: 130%;
    margin-right: 10px;
}
.information .small-icon{
    color: #427db4;
}
.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}
.social-icons{
    margin-top: 40px;
    list-style: none;
    color: #427db4;
}
.social-icons li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
}
.social-icons li i{
    transition: all .3s;
    cursor: pointer;
}
.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.3);
    color:#e67e22;
}
form{
    background-color: rgba(0, 0, 0, .4);
    margin-left: 20%;
    width: 80%;
    padding: 20px;
    margin-bottom: 40px;
}
form .row{
    margin-bottom: 20px;
}
label{
    font-size: 150%;
    color: white;
}
input{
    outline: none;
    padding: 20px;
    background-color: rgba(48, 47, 47, 0.3);
    border: 1px solid rgba(29, 28, 28, 0.8);
    margin: 5px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
input[type=text], input[type=email]{
    width: 100%;
    font-size: 100%;
    color:white;
}
input[type=submit]{
    font-weight: 700;
    font-size: 100%;
    border-radius: 5px;
    width: 60%;
}
footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}