body{
    padding: 0px;
    margin: 0px;
}
div.form, div.ListPatient{
    float: left;
    margin-top: 80px;
    border: 3px solid whitesmoke;
    border-radius: 17px;
}
div.form {
    width: 50%;
    margin-left: 110px;
}
div.ListPatient{
    width: 80%;
    margin-left: 140px;
}
div.form h3{
    text-align: center;
    background-color: #427db4;
    padding: 15px;
    margin-top: 0px;
    font-size: 200%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: black;
}
div.form label{
    color:red;
    padding-left: 50px;
    width: 200px;
    float: left;
    font-size: 120%;
}
div.form input[type="text"] {
    padding-right: 20px;
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;
}
div.form input[type="date"] {
    padding-right: 20px;
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;
}
button{
    font-size: 100%;
    color:Black;
    border-color: #e67e22;
    padding: 15px 15px;
    border-radius: 20px;
    width: 190px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 35%;
}
.error {
    color: red;
}
.main-nav{
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 55px;

}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
}
.main-nav li a{
    text-decoration: none;
    color: brown;
    font-size: 140%;
    font-weight: 700;
    padding: 3px 0;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 5px solid brown;
}
.logo {
    width: 150px;
    float: left;
    margin-left: 50px;
    margin-top: 0px;
}
.blackground {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.blackground-Patient {
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/Hồ\ sơ\ bệnh\ nhân.png);
    
}
.blackground-Doctor {
    background-image: url(../img/banner-spe.png);
}
.blackground-equipment {
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/Thiết\ bị.jpg);
}
.blackground-medicine {
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/Thuốc.jpg);
}
input {
    outline: none;
    color:white;
    background-color: rgba(19, 18, 18, 0.3);
    border: 1px solid rgba(7, 7, 7, 0.8);
    border-radius: 5px;
}
select {
    outline: none;
    color:white;
    background-color: rgba(19, 18, 18, 0.3);
    border: 1px solid rgba(7, 7, 7, 0.8);
    border-radius: 5px;
    padding-right: 20px;
    margin-bottom: 10px;
    width: 313px;
    padding: 5px;
}
div.form-Doctor {
    background-color:rgba(155, 195, 233, 0.8);
}
div.form-Equipment {
    background-color:rgba(12, 11, 11, 0.4);
}


